
        .box {
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            padding: 10px 25px;
            display: block;
            margin-top: 60px;
        }
        
        .box-icon {
            background-color: white;
            border-radius: 50%;
            display: table;
            height: 100px;
            margin: 0 auto;
            width: 100px;
            margin-top: -61px;
            background-image: url(../img/pollopen.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box-icon.close-pull {
            background-image: url(../img/pollclose.png);
        }
        
        .box-icon span {
            color: #fff;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
       
    



/* grid system via getbootstrap.com/examples/grid/grid.css */

.containerpolls {
    padding-left: 15px;
    padding-right: 15px;
}






/*header h1.logo {
    margin: 0;
    padding: 5px 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: left;
    color: transparent;
    -moz-transition: all .2s ease-in .2s;
    -o-transition: all .2s ease-in .2s;
    -webkit-transition: all .2s ease-in .2s;
    transition: all .2s ease-in .2s;
}*/

.navbar-inverse {
    background-color: #F6F6F6;
    border-color: #f6f6f6;
}



h1.thick-heading {
    clear: both;
    color: #aaa;
    display: block;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    line-height: 36px;
    border-width: 0;
    font-size: 36px;
    visibility: visible;
    opacity: 1;
    margin-top: 92px;
}


.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
    margin-top: 30px;
    background-color: #1b2b5e;
    height: 430px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

.launch-poll-section {
    margin-top: 15px;
}
.launchbtnpoll {
    color: white;
    background-color: #1b2b5e;
    border-color: #1b2b5e;
    outline: none;
}
.launchbtnpoll a , .launchbtnpoll a:hover,.launchbtnpoll a:focus {
    
    color: white;
    text-decoration: none;
    
    
}

.box-iconapolls {
    background-color: #000080;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    background-image: url("../img/pollclose.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1.thick-heading {
    clear: both;
    color: #1b2b5e;
}


.box-iconpolls {
    background-color: #f5f5f5;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    background-image: url("../img/pollopen.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.box{
    
    background-color: white;
    
}