<div id="main_content">
    <div class="container-fluid">
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <div class="col-lg-8 col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">My Interest</div>
                        <div class="panel-body leader_box">
                            <div class="col-lg-6 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Services</div>
                                    <div class="panel-body">
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-8">
                                                Credit card
                                            </div>
                                            <div class="ser_check col-xs-4">
                                                <input type="checkbox" checked="true" value="">
                                                <button data-toggle="modal" data-target="#myNSP">Rate</button>
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-8">
                                                Savings account
                                            </div>
                                            <div class="ser_check col-xs-4">
                                                <input type="checkbox" value="">
                                                <button>Rate</button>
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-8">
                                                Invesement - Mutual funds
                                            </div>
                                            <div class="ser_check col-xs-4">
                                                <input type="checkbox" value="">
                                                <button>Rate</button>
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-8">
                                                Invesement - SIP
                                            </div>
                                            <div class="ser_check col-xs-4">
                                                <input type="checkbox" value="">
                                                <button>Rate</button>
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-8">
                                                Loans - Home
                                            </div>
                                            <div class="ser_check col-xs-4">
                                                <input type="checkbox" value="">
                                                <button>Rate</button>
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-8">
                                                Loans - Vehicles
                                            </div>
                                            <div class="ser_check col-xs-4">
                                                <input type="checkbox" value="">
                                                <button>Rate</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Products</div>
                                    <div class="panel-body">
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-9">
                                                Travel card
                                            </div>
                                            <div class="ser_check col-xs-3">
                                                <input type="checkbox" value="">
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-9">
                                                Platinum card
                                            </div>
                                            <div class="ser_check col-xs-3">
                                                <input type="checkbox" value="">
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-9">
                                                Privilege card
                                            </div>
                                            <div class="ser_check col-xs-3">
                                                <input type="checkbox" value="">
                                            </div>
                                        </div>
                                        <div class="service_seletion">
                                            <div class="ser_name col-xs-9">
                                                Fuel card
                                            </div>
                                            <div class="ser_check col-xs-3">
                                                <input type="checkbox" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 common_panel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">My Badges</div>
                        <div class="panel-body">
                            <div class="badges">
                                <img src="img/badge_1.jpeg" class="img-circle">
                                <label>Top contributor</label>
                            </div>
                            <div class="badges">
                                <img src="img/badge_2.png" class="img-circle">
                                <label>Advisor</label>
                            </div>
                            <div class="badges">
                                <img src="img/badge-3.jpeg" class="img-circle">
                                <label>Scout</label>
                            </div>
                            <div class="badges">
                                <img src="img/badge_4.jpeg" class="img-circle">
                                <label>Top participant</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 common_panel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">My Rank</div>
                        <div class="panel-body">
                            <div class="rank_view">
                                4
                            </div>
                            <div class="trend_view">
                                <img src="img/up.png" class="up"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 common_panel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">My Level</div>
                        <div class="panel-body">
                            <span class="level_up">22 Sep 2016</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-lg-3 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Recommendations for you</div>
                        <div class="panel-body recommend">
                            <div class="recommended_view" id="recommd_1">
                                <div class="ser_name col-xs-12">
                                    SIP - 60% of your connection opted SIP
                                </div>
                                <div class="recommd_1_1" style="display: none;">
                                    <a href=""><img src="img/accept.png" class="img-circle"></a>
                                    <a href=""><img src="img/close.png" class="img-circle"></a>
                                    <a href=""><img src="img/View_Details.png" class="img-circle"></a>
                                </div>
                            </div>
                            <div class="recommended_view" id="recommd_2">
                                <div class="ser_name col-xs-12">
                                    70% of customers belonging to your demographic have DEMAT account
                                </div>
                                <div class="recommd_1_1" style="display: none;">
                                    <a href=""><img src="img/accept.png" class="img-circle"></a>
                                    <a href=""><img src="img/close.png" class="img-circle"></a>
                                    <a href=""><img src="img/View_Details.png" class="img-circle"></a>
                                </div>
                            </div>
                            <div class="recommended_view" id="recommd_3">
                                <div class="ser_name col-xs-12">
                                    Bank advisors recommend you to upgrade your Titanium credit card
                                </div>
                                <div class="recommd_1_1" style="display: none;">
                                    <a href=""><img src="img/accept.png" class="img-circle"></a>
                                    <a href=""><img src="img/close.png" class="img-circle"></a>
                                    <a href=""><img src="img/View_Details.png" class="img-circle"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Leaderboard
                            <div class="region" style="float: right">
                                <label>Regions:</label>
                                <select class="selectpicker show-tick">
                                    <option>Bangalore</option>
                                    <option>Chennai</option>
                                    <option>Gurgon</option>
                                    <option>Mumbai</option>
                                </select>
                            </div>
                        </div>
                        <div class="panel-body leader_box">

                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Top Products
                                        <div class="region" style="float: right">
                                            <select class="selectpicker show-tick">
                                                <option>Credit Card</option>
                                                <option>Savings Account</option>
                                                <option>Invesement</option>
                                                <option>Loan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                <span class="img-circle">1</span>
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Platinum card
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                8 nps
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                <span class="img-circle success">2</span>
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Privilege card
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                7 nps
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                <span class="img-circle success">3</span>
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Fuel card
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                6 nps
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                <span class="img-circle success">4</span>
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Travel card
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                5.5 nps
                                            </div>
                                        </div>
                                        <div class="top_leader border_none">
                                            <div class="col-xs-2 rank">
                                                <span class="img-circle success">5</span>
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Gold card
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                7 nps
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Top Contributors</div>
                                    <div class="panel-body">
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                1
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Srihari
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                600 pts
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                2
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Veeramani
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                595 pts
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                3
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Anand
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                592 pts
                                            </div>
                                        </div>
                                        <div class="top_leader active">
                                            <div class="col-xs-2 rank">
                                                4
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Venkat
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                590 pts
                                            </div>
                                        </div>
                                        <div class="top_leader border_none">
                                            <div class="col-xs-2 rank">
                                                5
                                            </div>
                                            <div class="col-xs-7 leader_name">
                                                Sethil
                                            </div>
                                            <div class="col-xs-3 prod_nsp">
                                                585 pts
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Top Managers</div>
                                    <div class="panel-body leader_panel">
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                1
                                            </div>
                                            <div class="col-xs-10">
                                                Team Srini - Scored 700
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                2
                                            </div>
                                            <div class="col-xs-10 ">
                                                Team Hari - Scored 680
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                3
                                            </div>
                                            <div class="col-xs-10 ">
                                                Team Raghu - Scored 670
                                            </div>
                                        </div>
                                        <div class="top_leader">
                                            <div class="col-xs-2 rank">
                                                4
                                            </div>
                                            <div class="col-xs-10 ">
                                                Team Anu - Scored 660
                                            </div>
                                        </div>
                                        <div class="top_leader border_none">
                                            <div class="col-xs-2 rank">
                                                5
                                            </div>
                                            <div class="col-xs-10">
                                                Team Giri - Scored 610
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myNSP" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                Rating&nbsp;&nbsp;&nbsp;
                <span>1 - Poor&nbsp;&nbsp;
                      5 - Average&nbsp;&nbsp;
                      10 - Good</span>

            </div>
            <div class="modal-body">
                <div class="rating">
                    <input type="radio"  name="portion_num" value="1">
                    <br>
                    <label>1</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="2">
                    <br>
                    <label>2</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="3">
                    <br>
                    <label>3</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="4">
                    <br>
                    <label>4</label>
                </div>
                <div class="rating">
                    <input type="radio" name="portion_num" value="5">
                    <br>
                    <label>5</label>
                </div>
                <div class="rating">
                    <input type="radio" name="portion_num" value="6">
                    <br>
                    <label>6</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="7">
                    <br>
                    <label>7</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="8">
                    <br>
                    <label>8</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="9">
                    <br>
                    <label>9</label>
                </div>
                <div class="rating">
                    <input type="radio"  name="portion_num" value="10">
                    <br>
                    <label>10</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">submit</button>
            </div>
        </div>
        </div>
    </div>