<!--
contact form created for treehouse competition.
-->
<form id="contact">
  <div class="container">
    <div class="head">
      <h2>Enter a New Poll / Survey</h2>
    </div>
<div class="dropbox">
<select>
  <option value="Poll">Poll</option>
  <option value="Survey">Survey</option>
</select>
</div>
    <input type="text" name="name" placeholder="Topic" /><br />
    <input  type="date"  placeholder="Start Date" /><br />
    <input  type="date"  placeholder="End Date" /><br />
    <textarea type="text" name="message" placeholder="Details"></textarea><br />
    <div><h1 style="color : white; font-size : 20px;">Cost : 50 points</h1></div>
    <button id="submit" type="submit">
      Submit
    </button>
  </div>
</form>